.section-title{
    margin-bottom: 20px;
}
.section-title>h3{
    font-size: 28px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 0;
}
.section-title span{
    background-image: url('../../images/bg.png');
    background-position-y: -20px;
    background-position-x: 10px;
    background-size: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    padding-top: 0 !important;
}
.home-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-slider a{
    width: 100%;
}
.home-slider img {
  display: block;
  width: 100%;
  height: 510px;
  object-fit: cover;
}
.home-slider > .swiper-button-prev::after,
.home-slider > .swiper-button-next::after {
  color: var(--main-color);
  font-size: 20px;
}
.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}
.home-info-card {
    border-radius: var(--radius);
  background-color: #F9EFEA;
}
.home-info-card > svg {
  fill: var(--sub-color);
  font-size: 38px;
}
.home-info-card > div > h5 {
  color: var(--main-color);
  font-size: 18px;
}
.home-info-card > div > p {
  color: var(--main-color);
  font-size: 14px;
}
.product-slider-card{
    cursor: pointer;
    position: relative;
}
.product-slider-card>img{
    width: 100%;
    height: 310px;
    border-radius: var(--radius);
    margin-bottom: 10px;
    transition: .3s;
    overflow: hidden;
    object-fit: cover;
}
.product-slider-banner-section{
    padding: 20px;
    border-radius: var(--radius);
    background-color: var(--primary-color);
}
.product-slider-card{
    padding: 10px;
    border: 1px solid #24221e2b;
    border-radius: var(--radius)
}
.color-varient-card{
    padding: 5px;
    border: 1px solid #bdbdbd;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50px;
}
.product-slider-card-details>h5{
    color: var(--main-color);
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-slider-card-details>.price{
    color: var(--main-color);
    font-weight: 800;
}
.product-slider-card-rating>p{
    font-size: 12px;
    color: var(--text-main-color);
}
.product-card-fav-icon{
    fill: var(--sub-color) !important;
    position: absolute;
    top: 10px ;
    right: 10px;
    cursor: pointer;
    width: 35px !important;
    height: 35px !important;
    background: #ffffffde;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px #96d1c726;
}
.costum-sidebar .MuiPaper-root{
    height: 100%;
}
.product-slider-add-to-cart{
    color: #fff !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    transition: .3s;
}

.horizontal-banner{
    border-radius: var(--radius);
    overflow: hidden;
}
.horizontal-banner img{
    width: 100%;
    object-fit: cover;
}
.horizontal-banner, .vertical-banner{
    border-radius: var(--radius);
    height: 100%;
    overflow: hidden;
}
.vertical-banner>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-slider-item{
    text-align: center;   
}
.category-slider-item img{
    border-radius: 50%;
    margin-bottom: 10px;
}
.category-slider-item a{
    text-decoration: none;
    margin-bottom: 0;
    font-weight: 600;
    color: var(--text-main-color)
}
.brand-slider{
    background-color: var(--main-color);
}
.brand-slider img{
    width: 150px;
}
.product-slider>.swiper-button-prev,.product-slider>.swiper-button-next{
    background: #fff;
    color: var(--sub-color);
    box-shadow: 0 0 20px #3333331c;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.product-slider>.swiper-button-prev::after,.product-slider>.swiper-button-next::after{
    font-size: 20px;
}

@media screen and (max-width: 640px) {
    .home-info-card > svg{
        font-size: 22px;
    }
    .home-info-card > div > h5 {
        font-size: 14px;
    }
    .home-info-card > div > p{
        font-size: 12px;
    }
    .home-slider img{
        height: 170px;
    }
    .section-title>h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0;
    }
    .category-slider-item a{
        font-size: 14px;
    }
    .product-slider>.swiper-button-prev, .product-slider>.swiper-button-next{
        width: 30px;
        height: 30px;
    }
    .product-slider-card-details>h5{
        font-size: 16px;
    }
    .product-slider-add-to-cart{
        padding: 10px;
    }
    .product-slider-banner-section{
        padding: 10px;
    }
}