@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #24221E;
  --primary-color: #F6F9FC;
  --sub-color: #BF534B;
  --grey-color: #f3f5f9;
  --text-main-color: #24221E;
  --soft-text: #adb5bd;
  --radius: .2rem
}

html, body{
  background-color: #fff !important;
  font-family: 'Signika Negative', sans-serif;
  color: var(--text-main-color);
}
a{
  text-decoration: none !important;
  color: var(--text-main-color)
}
a:hover{
  color: var(--main-color) !important;
  transition: .3s;
}

textarea:focus, input:focus{
  outline: none !important;
}